[Desktop Entry]
Type=Application
Name=Movie Monad
GenericName=Video Player
Categories=AudioVideo;Audio;Video;Player;
Comment=Play Videos
Icon=${SNAP}/meta/gui/com.lettier.movie-monad.svg
Exec=movie-monad
TryExec=movie-monad
Terminal=false
