[Desktop Entry]
Type=Application
Exec=movie-monad
Name=Movie Monad
Comment=A free and simple to use video player built with Haskell.
Icon=${SNAP}/meta/gui/movie-monad.svg
Categories=AudioVideo;Audio;Video;
